.headerBar {
	background-color: #881E1E;
	height: 70px;
	width: 100%;
	color: #FBF8F8;
	padding-bottom: 5px;
	border-style: solid;
	border-bottom-color: red;
}

.articles {}

.author, .words, .submitted {
	height: 100%;
	border-left: 1px solid #2C2A2A;
}

.words {}

.submitted {}

.divider {
   border-right: 1px solid #2C2A2A;
}

.clearance {
	padding-top: 20px;
}